*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*configuração da fonte*/
    font-family: "Roboto", sans-serif;

    /*configuração da pagina*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;

    /*configurações do background*/
    background-color: #f2e8cf;
    background-size: cover;
    background-position: center;
}

.form {
    /*configuração do form*/
    background-color: #a7c957;
    backdrop-filter: blur(7px);
    box-shadow: 0 8 32px rgba(0, 0, 0, 0.15);
    border-radius: 12px;

    padding: 30px 35px;
    
    width: 300px;
    height: 360px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.form h1 {
    margin-bottom: 25px;
    color: #386641;
    /*mudar a fonte*/
}

.grupo-email,
.grupo-senha{
    position: relative;
}

label{
    color: #F2E8CF;
    padding: 0 5px;
    position: absolute;
    transform: translateY(-50%);
    top: 40%;
    left: 1em;
    pointer-events: none;
    transition: .3s;
    font-weight: bold;
}

input{
    color: white;
    border: 2px solid var(#386641);
    background: transparent;
    border-radius: 5px;
    width: 250px;
    height: 60px;
    padding: 0 1rem;
    outline: none;
}

input:focus~label,
input:valid~label{
    top: 0;
    background-color: #a7c957;
    font-size: 0.8rem;
    font-weight: bold;
}

.button {
    width: 105%;
    background-color: #386641;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
}

.button:hover {
    background-color: #6A994E;
}

.link {
    display: block;
    margin-top: 15px;
    text-decoration: none;
    color: #386641;
    font-size: 14px;
}

.link:hover {
    text-decoration: underline;
}
